
<div class="listsection">
  <h1 class="title"> Todo List </h1>


<div class="thetodos">
  <form ng-submit="todosCtrl.addToList()">
     <input class="sub" type="text" placeholder="Pick your todo" ng-model="todosCtrl.item">

    <input type="submit" value="Add todo">
    


  </form>

    <ul>
      <li class="answerbox" ng-repeat="todo in todosCtrl.list" ng-class="{ 'picked': todo.picked }">
        <span class="todotext" ng-click="todosCtrl.togglepicked(todo)">{{ todo.name }}</span>
        <i class="fa fa-times-circle" ng-click="todosCtrl.delete(todo)"></i>
      </li>
    </ul>
  </div>
</div>
