
<div class="listsection">
  <h1 class="title"> Todo List </h1>


<div class="thetodos">
  <form ng-submit="todosCtrl.addToList()">
     <input class="sub" type="text" placeholder="Pick your todo" ng-model="todosCtrl.item">

    <input type="submit" value="Add todo">

  </form>

    <ul>
      <li ng-repeat="item in todosCtrl.list" ng-class="{ 'picked': item.picked }" ng-click="todosCtrl.togglepicked(item)">
        {{ item.name }}
      </li>

      <li class="ex">
        <i class="fa fa-times-circle" ng-click="todosCtrl.delete(list)"></i>
      </li>

    </ul>
  </div>
</div>
